<p id="notice"><%= notice %></p>

<h1>Sub Components</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Component</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_components.each do |sub_component| %>
      <tr>
        <td><%= sub_component.name %></td>
        <td><%= sub_component.component_id %></td>
        <td><%= link_to 'Show', sub_component %></td>
        <td><%= link_to 'Edit', edit_sub_component_path(sub_component) %></td>
        <td><%= link_to 'Destroy', sub_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Component', new_sub_component_path %>
